---
BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
# IndentAccessModifiers: 'true'
# AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations:
  Enabled: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignOperands: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: 'false'
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: 'false'
BinPackArguments: 'false'
# BinPackParameters: 'false'
ColumnLimit: '120'
IndentCaseLabels: 'true'
IndentPPDirectives: AfterHash
IndentWidth: '4'
MaxEmptyLinesToKeep: '1'
PointerAlignment: Left
SortIncludes: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: 'false'
SpacesBeforeTrailingComments: 1
AlignTrailingComments: 'false'
TabWidth: '4'
UseTab: Never
ShortNamespaceLines: 0
BreakArrays: 'true'
ContinuationIndentWidth: 4
ReflowComments: false
DerivePointerAlignment: false
# AllowShortBlocksOnASingleLine: Never
# InsertTrailingCommas: Wrapped
BreakConstructorInitializers: AfterColon

...
